@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Titulo*/
h1{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 2%;
    margin-top: 2%;
}
h1 a{
    text-decoration: none;
    color: #000000;
}
.destaque{
    color: black;
    font-weight: 900;
}
/*Corpo*/
section{
    width: 100%;
    height: 100%;
}
section div{
    display: block;
    margin: auto;
}
div a{
    text-decoration: underline;
}
.projeto1 img{
    width: 100%;
    display: block;
    margin: 5% auto 0 auto;
}
.projeto1 h2{
    font-size: 12pt;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.projeto1 p{
    font-size: 10pt;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: gray;
}
.projeto1{
    margin-top: 15%;
}
.descproj{
    text-align: center;
}
h3{
    font-size: 12pt;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 10%;
}
section a{
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
/*Menu*/
.menuindex{
    position: absolute;
    color: rgb(115, 115, 116);
    right: 1%;
    top: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    text-align: right;
}
.menuindex a{
    text-decoration: none;
    color: rgb(117, 117, 117);

}
.menuindex a:hover{
    text-decoration: underline;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .projeto1{
        margin-top: 2%;
        display: flex;
    }
    .projeto1 div{
        width: 50%;
    }
    .projeto1 img:hover{
        filter: brightness(70%);
        transition: 0.5s;
    }
}