@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.container-imgsbackground{
    position: relative;
    overflow: hidden;
}
.imgs-background{
    position: relative;
    display: flex;
    left: -1504px;
    top: -40px;
    animation: animation-background 10s infinite linear;
}
.container-imgsbackground img{
    position: relative;
    height: 200px;
}
.img1{
    position: relative;
    left: -30px;
}
.img2{
    position: relative;
    right: -30px;
}
.img1v2{
    position: relative;
    right: -60px;
}
.img2v2{
    position: relative;
    right: -90px;
}
.img3, .img9, .img6{
    display: none;
}
/*Second imgs background*/
.container-imgsbackground2{
    position: relative;
    overflow: hidden;
}
.imgs-background2{
    position: relative;
    display: flex;
    left: -1794px;
    top: -40px;
    animation: animation-background2 12s infinite reverse linear;
}
.container-imgsbackground2 img{
    position: relative;
    height: 220px;
}
/*Third imgs background*/
.container-imgsbackground3{
    position: relative;
    overflow: hidden;
    height: 140px;
}
.imgs-background3{
    position: relative;
    display: flex;
    left: -1634px;
    top: -40px;
    animation: animation-background3 10s infinite linear;
}
.container-imgsbackground3 img{
    position: relative;
    height: 220px;
}
@keyframes animation-background {
    from{
        left: -350px;
    }
    to{
        left: -1502px;
    }
}
@keyframes animation-background2 {
    from{
        left: -442px;
    }
    to{
        left: -1794px;
    }
}
@keyframes animation-background3 {
    from{
        left: -404px;
    }
    to{
        left: -1634px;
    }
}
.frase{
    position: absolute;
    z-index: 1;
    color: aliceblue;
    top: 45%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30pt;
    text-shadow: 1px 1px 1px black;
}
.menuindex{
    position: absolute;
    color: aliceblue;
    right: 1%;
    top: 2%;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px black;
    font-size: 10pt;
    text-align: right;
}
.menuindex a{
    text-decoration: none;
    color: aliceblue;

}
.menuindex a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/*PARA PC*/
@media screen and (min-width: 325px){
    .container-imgsbackground img{
        position: relative;
        height: 250px;
    }
    .img3, .img9, .img6{
        display: block;
    }
    .imgs-background{
        left: -0px;
        animation: animation-background1PC 20s infinite linear;
    }
    .img3{
        right: -120px;
    }
    .container-imgsbackground2 img{
        position: relative;
        height: 270px;
    }
    .imgs-background2{
        left: -1610px;
        animation: animation-background2PC 15s infinite linear reverse;
    }
    .img6{
        right: -120px;
    }
    .container-imgsbackground3 img{
        position: relative;
        height: 270px;
    }
    .imgs-background3{
        left: -1610px;
        animation: animation-background3PC 20s infinite linear;
    }
    .img9{
        right: -120px;
    }
    .frase{
        margin-left: 2%;
    }
    .container-imgsbackground3{
        height: 186px;
    }
}
@keyframes animation-background1PC {
    from{
        left: 0px;
    }
    to{
        left: -1400px;
    }
}
@keyframes animation-background2PC {
    from{
        left: -40px;
    }
    to{
        left: -1610px;
    }
}
@keyframes animation-background3PC {
    from{
        left: -40px;
    }
    to{
        left: -1610px;
    }
}