*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.container-imgsbackground{
    position: relative;
    overflow: hidden;
}
.imgs-background{
    position: relative;
    display: flex;
    left: -1504px;
    top: -40px;
    animation: animation-background 10s infinite linear;
}
.container-imgsbackground img{
    position: relative;
    height: 200px;
}
.img1{
    position: relative;
    left: -30px;
}
.img2{
    position: relative;
    right: -30px;
}
.img1v2{
    position: relative;
    right: -60px;
}
.img2v2{
    position: relative;
    right: -90px;
}
/*Second imgs background*/
.container-imgsbackground2{
    position: relative;
    overflow: hidden;
}
.imgs-background2{
    position: relative;
    display: flex;
    left: -1794px;
    top: -40px;
    animation: animation-background2 12s infinite reverse linear;
}
.container-imgsbackground2 img{
    position: relative;
    height: 220px;
}
/*Third imgs background*/
.container-imgsbackground3{
    position: relative;
    overflow: hidden;
    height: 140px;
}
.imgs-background3{
    position: relative;
    display: flex;
    left: -1634px;
    top: -40px;
    animation: animation-background3 10s infinite linear;
}
.container-imgsbackground3 img{
    position: relative;
    height: 220px;
}
@keyframes animation-background {
    from{
        left: -350px;
    }
    to{
        left: -1502px;
    }
}
@keyframes animation-background2 {
    from{
        left: -442px;
    }
    to{
        left: -1794px;
    }
}
@keyframes animation-background3 {
    from{
        left: -404px;
    }
    to{
        left: -1634px;
    }
}